.restaurant-profiles {
  margin: 10px;
}

.restaurant {
  margin: 0 auto;
  width: 50%;
  background-color: white;
  margin: 20px;
}
.restaurant-profile {}

.description {
  margin-bottom: 30px;
}

.restaurant-details {
  width: 50%;
}

.restaurant-details * {
  margin: 10px 0;
}

.menu {
  margin-top: 30px;
  text-align: center;
  width: 50%;
}

.menu-item { margin: 10px 0;}
