<h1>Restaurant Profiles</h1>

<div class="restaurant-profiles">
  <% @restaurant_profiles.each do |restaurant_profile| %>
  <div class="restaurant">
    <h3 class="name"> <%= link_to restaurant_profile.name, restaurant_profile  %></h3>
    <p><%= restaurant_profile.description %></p>
  </div>
  <% end %>

</div>
