<div class="restaurant-profiles flex column align-center">
  <% @restaurant_profiles.each do |restaurant_profile| %>
  <div class="restaurant container">
    <h3 class="name"> <%= link_to restaurant_profile.name, restaurant_profile  %></h3>
    <p ><%= restaurant_profile.description %></p>
    <h3 class="profile-pic"> <%#= link_to restaurant_profile.profile_pic, restaurant_profile  %></h3>

  </div>
  <% end %>

</div>
